<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bangaluru explore</title>
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/tripguide.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

</head>


<body>
    <nav class="nav0">
        <!-- Left side of navigation bar -->
        <div class="nav0-leftside">
          
        <img class="logo" src="images/logo.svg" alt="img" />
    
    
    </div>
    
        <!-- Right side of navigation bar -->
        
      </nav>

      <header id="tripB">
    
    <div id="aa1" style="background-color: antiquewhite;">
      <h1>Bangaluru travel guide</h1>
      <p>Bangaluru Tourism | Bangaluru Guide</p>
          
      </div>
    
</header>
    <nav>
        <a href="#Introduction">Introduction</a>
        <a href="#wvc">Why To Visit</a>
        <a href="#wtd">What To Do</a>
        <a href="#wte">Where to Eat</a>
        <a href="#whentv">When to Visit</a>
        <a href="#htgt">How to Get There</a>
        <a href="#whts">Where to Stay</a>
        <a href="#gta">Getting Around</a>
        <a href="#lc">Local Costs</a>

    </nav>

    <div id="fu1" class="sbody">

    <!-- INTRODUCTION-->
    <section id="Introduction" class="Introduction-Ch">
        <h1>This is Bangaluru for you</h1>
<p>From its beloved Sankey Tank, a beautiful lake, to its provocative graffitied buildings, Bangaluru will continually surprise you. Progressive and safe, the city blends young and old, modern and historical together. Known as India's Silicon Valley, there is a young and hip urban crowd that occupies every corner of this bustling metropolis.</p>    
    <div id="im0">
        <img src="images/bang2.jpg" alt="chennai">
    </div>
<p>Glass and steel campuses surrounded by sprawling greens, and youthful, trendy pubs peppering the city occupy many of the city dwellers and tourists alike. Those who hold the city close to their hearts are wooed by the lush green spaces, booming tech infrastructure, and historical architecture.

    A truly global city with a distinctly Indian flavor, there is a surprise waiting to overturn your expectations at every corner.</p>
</section>
<!-- WHY TO VISIT CHENNAI-->
    <section id="wvc" class="visit-chennai">
        <h1>Top 5 reasons to visit Bangaluru</h1>
        <ol>
            <li>
              <h3>Unbeatable Attractions</h3>
<p>There are lots of activities to explore in Bangaluru. Among these are theme parks like Snow City and Wonderla, go-karting tracks at Burnout Cafe, and adventure sports like white water rafting at Bheemeshwari Adventure and Nature Camp, a three-hour drive from the city.</p>              
            </li>
            
            <li>
              <h3> It's an Artistic Hub</h3>
<p>With its fairly young, trendy, and progressive population, Bangaluru is home to artists and artistic hangouts. Graffiti and street art cover the local buildings and it's not unusual to find photographers and their muses hanging around for the best shots.</p>
            </li>
            
            <li>

                <h3>The Temperate Climate</h3>
<p>One of the biggest draws to Bangaluru is for the sheer experience of its temperate weather. Instead of the usual heat and humidity that covers much of western and southern India, Bangaluru is mostly cool and pleasant, thanks to its lush greenery.</p>
            </li>
            
            <li>
              <h3>A Global Citizenry</h3>
<p>Because of the Infosys campus, Bangaluru attracts a diverse hub of foreign workers that makes for a very multicultural vibe throughout the city. You'll find tourists and citizens that are all drawn by one thing - Bangaluru's status as the most technologically advanced and progressive city in India.</p>            </li>
            
            <li>
              <h3>Tech Hubs and Local Pubs</h3>
<p>Immerse yourself in weekend meetups and hackathons, or simply visit one of these events. Great local pubs abound, like Toit in Indiranagar or District 6 in Malleshwaram, where the tech-savvy crowd can retire to after a long day's work.</p>
            </li>
          </ol>
       
    </section>


    <section id="wte" class="where-eat">
        <h1>Where to Eat in Bangaluru</h1>
<p>There is a whole score of popular spots to eat. White Horse is the place to be for classic rock lovers who want to kick back, down a couple of beers, and gorge on spicy finger foods like chili chicken. Expect to spend around ₹1000 for two here. High Ultra Lounge Rooftop, at the top of the World Trade Center, is far more glitzy, renowned for their cocktails like Inception (a smart and fruity whiskey mixed drink). The average cost is around ₹2,500. Street food is everywhere - expect to pay around ₹261 for a fast food meal for two.</p>    
    </section>
    <section id="whentv" class="when-visit">
        <div class="container">
            <h1 class="main-heading">When to visit Bangaluru</h1>
            <h2 class="subheading">Bangaluru in April</h2>
            <p class="estimated-price">₹8601</p>
            <p class="additional-info">1 night at 3-star hotel</p>
          </div>
       <div id="img3"> <img src="images/bangData1.png" alt="data1">
       </div>
<p>The city is blessed with the most moderate temperatures of anywhere in the country. From March to May, the temperature hovers at 96 degrees Fahrenheit. October through February is ideal because that is when Bangaluru experiences "winter". With its lush parks, outdoor activities, and city-wide festivals like Holi in February, this truly is the best season to visit.</p>
       <div id="img3"> <img src="images/bangData2.png" alt="data2">
    </section>



    <section id="htgt" class="get-there">

       <h1>How to get to Bangaluru</h1>
       <h4>Plane</h4>
<p>If you're flying, you'll land at Bengaluru International Airport (BLR). Located about 25 miles north of the city center, the airport serves all major airlines and is the hub for local and domestic flights as well. It has three major terminals known as Terminal 1, Terminal 1A, and Hajj Terminal. To get to the city center, use the Vayu Vajra shuttle service that costs around ₹230. Taxi rentals and car rentals are also available right at the airport from Karnataka Cabs, Mega cabs, and Meru cabs.</p>

<h4>Train</h4>
<p>If you're traveling by rail, trains leave from one of two major hubs: Bengaluru City Railway Station or Yesvantpur Junction. There are several services that run to and from Bangaluru that connect the city to Delhi, Mumbai, Pune, Chennai, and more.</p>   
<h4>Car</h4>
<p>Traveling to Bangaluru from any other major city such as Mumbai or Chennai is a very relaxing and picturesque journey. The easiest thing to do if you're traveling through the region is to book a taxi or car rental provided by Sri Venkateshwara or Sri Balaji Tours and Travels. Make sure to leave with enough spare change for the numerous toll booths along the way. If you're traveling from Mumbai or Goa, the AH47, starting from Kolhapur, will take you straight to the city. If you're traveling from the west, for example from Hyderabad, the main highway you should be taking is the AH43.</p>
<h4>Bus</h4>
<p>A network of state-owned and privately-owned and operated bus services make getting into and out of the city to other major centers as well as nearby getaways quite easy to do. Buses come from cities such as Goa, Coimbatore, and Mangalore. Private bus operators include names such as Neeta Travels and Hans Travels Indore. The main bus station is conveniently located right across from the Bangaluru City Railway Station and is known as Majestic Bus Station.</p>
</section>









    <section id="whts" class="where-stay">

        <h1>Where to Stay in Bangaalore</h1>
        <div class="location">
          <h4>Indira Nagar</h4>
<p>at the very heart of the city center is Indira Nagar, a sought-after residential and commercial hub. Catch a live jazz show at BFlat Bar or break bread at the wildly popular Hole in the Wall Cafe.</p>        
<h3>Popular Neighborhoods in Bangaluru </h3>

          <h4>Malleshwaram</h4>
<p> this is one of Bangaluru's oldest neighborhoods. Named for the majestic and mysterious Kadu Malleshwara temple, this sub-section of the city is known for retaining its rich social and cultural heritage. Its namesake temple, for example, regularly hosts world-class music and dance performances.</p>        
          

<h4>Ulsoor</h4>
<p>with its numerous temples, back alleyways and narrow streets, and old markets, Ulsoor is every foot traveler's dream. On your morning stroll, don't miss the Dhobi Ghat, which is a space near the lake where "dhobis" or laundry-washers-for-hire come to wash their clothes. Spend the afternoon strolling in beautiful Cubbon Park, and make sure to stop by the Sri Narayana Samithi, a memorial built in recognition of social reformer Narayana.</p>

</div>

        <h2>Most Booked Hotels in Bangaluru</h2>
        <div class="hotelsr">

            <div class="info-box">
    
              <p>The Oberoi Bengaluru</p>
              <div class="rating">
                  ★★★★★ Excellent (9.3, Excellent reviews)
              </div>
              <div class="price">
                  ₹ 13,005+
              </div>
              <button id="bu1">View</button>
    
            </div>
              <div class="info-box">
    
                <p>The Leela Palace Bangaluru</p>
                <div class="rating">
                    ★★★★ Excellent (8.9, Excellent reviews)
                </div>
                <div class="price">
                    ₹ 19,906+
                </div>
                <button id="bu1">View</button>
    
              </div>
    
                <div class="info-box">
    
                  <p>Itc Windsor, A Luxury Collection Hotel, Bengaluru</p>
                  <div class="rating">
                      ★★★★ Excellent (8.2, Excellent reviews)
                  </div>
                  <div class="price">
                      ₹ 11,805+
                  </div>
                  <button id="bu1">View</button>
          
            </div>
    
          </div>
          <div class="hotelsr">
    
            <div class="info-box">
    
              <p>Radisson Blu Atria Bengaluru</p>
              <div class="rating">
                  ★★★★★ Excellent (8.1, Excellent reviews)
              </div>
              <div class="price">
                  ₹ 6,805+
              </div>
              <button id="bu1">View</button>
    
            </div>
              <div class="info-box">
    
                <p>Clarks Exotica Convention Resort & Spa</p>
                <div class="rating">
                    ★★★★ Excellent (7.6, Good reviews)
                </div>
                <div class="price">
                    ₹ 10,205+
                </div>
                <button id="bu1">View</button>
    
              </div>
    
                <div class="info-box">
    
                  <p>The Chancery Pavilion</p>
                  <div class="rating">
                      ★★★★ Excellent (7.1, Good reviews)
                  </div>
                  <div class="price">
                      ₹ 4,005+
                  </div>
                  <button id="bu1">View</button>
          
            </div>
    
          </div>

    </section>

<!--Getting Around-->

    <section id="gta" class="get-around">

<h1>How To Get Around Bangaluru</h1>
    
<h4>Public Transportation</h4>
<p>Public transport in Bangalore is made up of a subway system, the Namma Metro, and the BMTC, which is the bus system. Public transportation is limited and can get quite pricey, up to ₹300. Namma Metro has two major lines, the Purple and Green line, serving a total of 30 stations. There are also special service buses that run from a specific high-occupancy locations such as Vayu Vajra, a route servicing the airport, and Metro Feeder, a collection of 10 routes that run as feeders into the Metro stations.</p>

<h4>Taxi</h4>
<p>There are several different companies servicing the city such as Ola Cab, Savaari, and Beecabs, as well as the ever-popular Meru Cabs and Garden City Cabs. Prices for taxis vary based on the company you're going with, tolls, and available routes but a 66-mile ride can average about ₹576.00. The normal rate for 0.62 miles starts at a unit price of ₹60 with a variable per/mile rate of around ₹12.</p>
<h4>Car</h4>
<p>Popular rental companies include Savaari Car Rentals, Shrusti Travels, and Ramesh Tours and Travels. You can hire full-day AC Cabs or choose self-drive car rentals from companies like ZoomCar, Revv, and Myles. Hiring a car is without a doubt the best way to explore not only Bangalore but the surrounding cities of Mysore and Coorg. Depending on your needs, rentals can start at ₹95/hr for self-drive services.</p>
<br>
<a href="https://www.uber.com/global/en/cities/begaluru/">
<button class="myButton">Find car hire in Bangaluru</button>
</a>

</section>



    <section id="lc" class="local-costs">


        <div class="cont1">

            <div class="price-list">
        <h1>The Cost of Living in Bangaluru</h1>

        <h4>Shopping Streets</h4>
        
<p>If you're looking for malls, don't miss visiting the Forum Mall, located in the Koramangala neighborhood. For bargain hunting, Malleshwaram 8th Cross is the usual haunt for street shopping. For local fashion, there is no better place than Rangachari Textiles or Sunil Bangalore, both located in Malleshwaram.</p>
        
        <h4>Groceries and Other</h4>
<p>Popular physical chains include Village Hypermarket, Maha Bazaar, and I-Mart. Online retailers that are local favorites are Bigbasket, Sangam Direct, and GroceryWhizz. Alternative spots include Buffalo Back, where you can find freshly made apple cider vinegar and farm-to-table organic vegetables. A quart of whole milk is around ₹47, and you can expect to spend about ₹85 for a dozen eggs.</p>
    </div>
       
       
        <!--Icons-->

        <div class="price-list" id="prcl">
            <div class="item">
              <span class="icon">🍔</span>
              <span class="name">Cheap meal:</span>
              <span class="price">₹148</span>
            </div>
            <hr>
            <div class="item">
              <span class="icon">👖</span>
              <span class="name">A pair of jeans:</span>
              <span class="price">₹2,808</span>
            </div>
            <hr>
            <div class="item">
              <span class="icon">🚎</span>
              <span class="name">Single public transport ticket:</span>
              <span class="price">₹27</span>
            </div>
            <hr>
            <div class="item">
              <span class="icon">☕</span>
              <span class="name">Cappuccino:</span>
              <span class="price">₹115</span>
            </div>
          </div>



        </div>
    </section>


<h1>Other popular cities in Karnataka</h1>


    <div class="city-list">
        <div class="column1">
            <p>Badami</p>
            <p>Gokarna</p>
            <p>Madikeri</p>
            
        </div>
        <div class="column1">
            <p>Chikamagalur</p>
            <p>Hampi</p>
            <p>Mangalore</p>
            
        </div>
        <div class="column1">
            <p>Dandeli</p>
            <p>Karwar</p>
            <p>Mysore</p>
            
        </div>
</div>



<!-- footer codes -->
</div>

<footer class="footer" >
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>company</h4>
        <ul>
          <li>
            <a href="./aboutus.html"> about us</a>
          </li>
          <li>
            <a href="./services.html"> our services</a>
          </li>
          <li>
            <a href="./business.html"> work with us</a>
          </li>
          <li>
            <a href="#"> press key</a>
          </li>
        </ul>

      </div>

      <div class="footer-col">
        <h4>get help</h4>
        <ul>
          <li>
            <a href="FAQ.html">FAQ</a>
          </li>
          <li>
            <a href="#">booking status</a>
          </li>
          <li>
            <a href="#">returns</a>
          </li>
          <li>
            <a href="#">payment options</a>
          </li>
        </ul>

      </div>

      <div class="footer-col">
        <h4>learn more</h4>
        <ul>
          <li>
            <a href="./learnmore.html">privacy</a>
          </li>
          <li>
            <a href="./learnmore.html">security</a>
          </li>
          <li>
            <a href="./learnmore.html">terms</a>
          </li>
        </ul>

      </div>

      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>



    </div>

  </div>
</footer>








</body>
</html>
