<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewDelhi explore</title>
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/tripguide.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

</head>


<body>
    <nav class="nav0">
        <!-- Left side of navigation bar -->
        <div class="nav0-leftside">
          
        <img class="logo" src="images/logo.svg" alt="img" />
    
    
    </div>
    
        <!-- Right side of navigation bar -->
        
      </nav>

   <header id="tripD">
    
    <div id="aa1" style="background-color: pink;">
        <h1>New Delhi travel guide</h1>
        <p>New Delhi Tourism | New Delhi Guide</p>
            
        </div>
    
</header>
    <nav>
        <a href="#Introduction">Introduction</a>
        <a href="#wvc">Why To Visit</a>
        <a href="#wtd">What To Do</a>
        <a href="#wte">Where to Eat</a>
        <a href="#whentv">When to Visit</a>
        <a href="#htgt">How to Get There</a>
        <a href="#whts">Where to Stay</a>
        <a href="#gta">Getting Around</a>
        <a href="#lc">Local Costs</a>

    </nav>

    <div id="fu1" class="sbody">

    <!-- INTRODUCTION-->
    <section id="Introduction" class="Introduction-Ch">
        <h1>This is Delhi for you</h1>
<p>India's capital is immense, bursting with energy and prosperity; it's a contrast between the very ancient and the thrillingly new, a place where the traditions of India are being reshaped and complemented by modernity as the nation rises and rises.

</p>    
    <div id="im0">
        <img src="images/delhi2.jpg" alt="chennai">
    </div>
    <p>Home to 20 million people, New Delhi is an exciting place to be. You could spend a week soaking up the atmosphere of Old Delhi, or party in Rajouri Garden. Whatever you do, expect a warm welcome.

        New Delhi has its frantic moments, but it has its relaxing side too. In a city where the future and the past collide every day, there's something for everyone to enjoy.</p>
    </section>
<!-- WHY TO VISIT Delhi-->
    <section id="wvc" class="visit-chennai">
        <h1>Top 5 reasons to visit Delhi</h1>
        <ol>
            <li>
              <h3>Historical Attractions in One of the World's Oldest Cities</h3>
<p>Delhi lays claim to being the oldest continually inhabited city in the world with more than 5,000 years of history. As you'd expect after so many centuries, there's no shortage of enthralling historical attractions. From the Red Fort built by Mughal emperor Shah Jahan to UNESCO-listed monuments like Humayun's Tomb and the soaring Qutub Minar, the past is everywhere.</p>
            </li>
            
            <li>
              <h3>Luxury Hotels, Superb Restaurants, and Exclusive Clubs</h3>
<p>Modern Delhi offers quite an experience for affluent travelers. You can stay at the Imperial, where there's an on-site Chanel boutique, enjoy 24-hour butler service at the Oberoi, and rent private cars to whizz to nearby attractions like the Taj Mahal or Jaipur, before dining at fine eateries like Le Cirque at the Leela Palace Hotel.</p>
            </li>
            
            <li>
              <h3> Museums for Art Lovers, History Buffs, and Science Geeks</h3>
<p>New Delhi has an incredible range of museums. Find out about Indian heroes like Mahatma Gandhi or Nehru at dedicated museums, get up to speed with contemporary Indian art at the Kiran Nadar Museum of Art, or learn about everything from interstellar physics to dinosaurs at the National Science Centre.</p>
            </li>
            
            <li>
              <h3>A Multicultural Mosaic of Faiths and Beautiful Religious Architecture</h3>
<p>New Delhi is a meeting point of the world's great religions, and it has an extraordinary range of religious attractions. From the Baha'i Lotus Temple and the serene Gurdwara Sis Ganj Sahib to the majestic Jama Masjid Mosque and the Sacred Heart Cathedral, all faiths are represented in a city of hope and coexistence.</p>
            </li>
            
            <li>
              <h3> Delicious Local Cuisine</h3>
<p>New Delhi is also one of India's great gastronomic destinations. In a country famous for its cuisine, that's really saying something. Don't miss delicacies like butter chicken, authentic paratha breads, meaty kebabs, and filling biryanis, but leave any worries about your waistline at the airport.</p>
            </li>
          </ol>
       
    </section>
<!--WHAT TO DO-->
    <section id="wtd" class="what-do">
        <h1>What to do in New Delhi</h1>

<ol>
  <li>
    <h3> Red Fort: Politics and Royalty</h3>
<p>This imperial palace was home to Mughal emperors for 200 years, and today visitors meet an imposing entrance as they march through the red fortified walls. But beyond the gates, luxurious architecture and design abound. Elegant inlaid flowers and carvings fill the site, while the detail and repetition of arches never get old. Jama Masjid next door is one of the country's largest mosques, and Chandni Chowk market is just outside too - filled with endless trinkets and necessities.</p>
    <div class="im2">
    <img src="images/redfort.jpg" alt="beach" >  
</div>
</li>
  
  <li>
    <h3> Rajpath: Kingsway</h3>
<p>During the colonization of India, this regal avenue was designed by the British to give a sweeping overview of the heart of the city. The India Gate stands assertively at one end, a memorial to the tens of thousands of Indian soldiers who perished fighting in World War One. The broad, tree-lined road stretches to Rashtrapati Bhavan, the Viceroy's Palace, which overlooks the scene. The National Museum is on the way too, a treasure trove of art and artifacts.</p>
    <div class="im2">
        <img src="images/rajpath.jpg" alt="temple" >  
    </div>  
</li>
  
  <li>
    <h3> Humayun's Tomb: Before the Taj Mahal</h3>
<p>If you don't have time to visit Agra to see the world-famous Taj Mahal, a trip to Humayun's Tomb is undeniably the next best thing. Both examples of Mughal architecture are as stunning today as they've ever been, and the perfectly proportioned gardens in which they rest are indicative of the harmonious afterlife found in Islam culture. A pearly white dome rests atop this mausoleum, the interior covered in dazzling patterns high above the Emperor's grave. The whole thing is spectacular, especially as light fills the space.</p>
    <div class="im2">
        <img src="images/hum_tomb.jpg" alt="church" >  
    </div>  
</li>
  
  <li>
    <h3> Lodhi Garden: East Meets West</h3>
<p>As in many previously colonized cities, today's attractions in Delhi represent a conglomeration of cultures, and Lodhi Garden exposes the contrasts better than any other site in the city. The lush green space has been adapted by the British to combine traditional western landscaping with local leisure. Walkways lined with groomed trees, rose gardens, and more intermingle with distinctly native plants and age-old tombs. Locals and tourists alike enjoy exploring this vast park every day</p>
    <div class="im2">
        <img src="images/lodhi.jpg" alt="saint" >  
    </div> 
</li>
  
  <li>
    <h3> Lotus Temple: Modern Day Worship</h3>
<p>One of the world's most iconic contemporary houses of Worship; the Lotus Temple is open to visitors of all beliefs and backgrounds. Awe-inspiring marble petals form the shape of an enormous flower, beneath which over 2000 people can come together. Natural light shines in from the outside, and every view is architecturally stunning - it is no wonder this is one of the most visited buildings in the world. Across the ponds and the surrounding park, the ISKCON Temple is another worthy sight.</p>
    <div class="im2">
        <img src="images/lotus.jpg" alt="" >  
    </div>  
</li>


<li>

<h3>Taj Mahal: A Monument to Love</h3>
<p>The last remnants of Mughal architecture are alive even today in the Taj Mahal. Every year, this UNESCO World Heritage site attracts anywhere from seven to eight million visitors. So majestic and imperial are her exteriors that no one would ever guess, at first glance, that the ivory-marble facade is actually a mausoleum. Resting on the banks of the Yamuna river, the palatial tomb, which Mughal emperor Shah Jahan built for his wife, Mumtaz Mahal, also houses a mosque and a guest house. The exteriors are flanked by lush gardens and pristine pathways.</p>

<div class="im2">
    <img src="images/tajmahal.jpg" alt="" >  
</div>  
</li>

<li>

<h3>Agra Fort: An Ancient Stronghold</h3>
<p>With its 380,000 square feet and semi-circular design, not to mention the distinctive red 'terra' look of sandstone fortification, the Agra Fort is a piece of both Indian history and Indian architecture. It is rumoured that the great Mughal emperor Shah Jahan died in one of its towers (with a view of the Taj Mahal, of course). Besides its sprawling size, the Agra Fort features the majestic Delhi Gate, the Diwan-i-am and the gorgeous decorations on its exalted columns will mesmerize you for the day.
</p>
<div class="im2">
    <img src="images/agrafort.jpg" alt="" >  
</div>  

</li>


</ol>
    </section>

    <section id="wte" class="where-eat">
        <h1>Where to Eat in New Delhi</h1>
<p>Delhi is massive, so it's hard to pick a few exceptional eateries. Then again, there are some places that just can't be missed, like Cafe Lota near the Crafts Museum, with its bamboo screens and delicately spiced modern Indian cuisine. Bukhara in the Sheraton hotel often tops the list of "best Indian restaurants", while Sagar Ratna serves authentic southern Indian delicacies. Then there's the street food. Head to Connaught Place's Bengali Market for an astonishing array of tastes (and enticing aromas). In general, expect a high-end sit down meal to come to around ₹600 per head, but street food will be much less expensive.</p>    
    </section>
    <section id="whentv" class="when-visit">
        <div class="container">
            <h1 class="main-heading">When to visit New Delhi</h1>
            <h2 class="subheading">New Delhi in July</h2>
            <p class="estimated-price">₹8707</p>
            <p class="additional-info">1 night at 3-star hotel</p>
          </div>
       <div id="img3"> <img src="images/newDdata1.png" alt="data1">
       </div>
       Most locals recommend visiting Delhi between October and March. That way, you can take in the colors of the north Indian spring and enjoy the best of the weather. Temperatures will vary, but shouldn't drop below 65 degrees and rain will be minimal. May and June see the city baking in mid-summer heat, while July usually brings the monsoon, which is attractive, but not everybody's cup of tea.
       <div id="img3"> <img src="images/newDdata2.png" alt="data2">
    </section>



    <section id="htgt" class="get-there">

       <h1>How to get to New Delhi</h1>
       <h4>Plane</h4>
<p>Indira Gandhi International Airport (DEL) is the main entry point for visitors from North America, and getting into town is fairly simple. The Airport Express Metro train from Terminal 3 is your best option, which takes 20 minutes and costs ₹60. Buses take almost an hour and cost ₹50, while taxis are faster (unless traffic intervenes) but will cost you around ₹400.</p>

<h4>Train</h4>
<p>Trains arrive in New Delhi from all over the Indian subcontinent, and if you are traveling around India, at least one rail journey is recommended. If you do catch the train to Delhi, try to alight at New Delhi station, not Delhi Junction or Hazrat Nizamuddin (though both are linked to New Delhi by the subway).   </p>

<h4>Car</h4>
<p>Renting a car at the airport is an excellent idea, and you'll find companies like Avis and VIP Cars represented at the terminals. If you are driving into town, take Route 48 northbound and follow signs for the city center. Those coming from Agra need to take the Yamuna Expressway, which runs straight into Delhi.</p>

<h4>Bus</h4>
<p>India has a complex intercity bus network, with many state companies running services into different New Delhi bus stations. Buses from the south tend to get into Sarai Kale Khan bus station, which is right next to Hazrat Nizamuddin station. If you are coming from Kolkata or other eastern cities, you'll probably get off at Anand Vihar bus station, which has a subway stop as well, so getting to city center hotels shouldn't be hard.</p>
</section>









    <section id="whts" class="where-stay">

        <h1>Where to Stay in New Delhi</h1>
        <div class="location">
          <h4>Connaught Place</h4>
<p>often shortened to CP, Connaught Place is one of Delhi's financial, shopping, and nightlife hubs. The British built the area as a centerpiece for colonial Delhi, and nowadays it's still the center of the action. Its markets, shopping streets, and restaurants are where locals go to unwind.</p>
          
<h3>Popular Neighborhoods in New Delhi </h3>

          <h4>Gurgaon</h4>
<p>actually located a short distance southwest of New Delhi, Gurgaon is its most modern suburb and the richest neighborhood in the whole of India. It's the kind of place where tourists brush shoulders with Bollywood stars, where the locals have a choice of waterparks for steamy summer afternoons, and new high rises appear every week.</p>
          
          <h4>Old Delhi</h4>
<p>a far cry from the brash modernity of Gurgaon, Old Delhi has been there for millennia. This is where you'll find magical historical attractions like the Red Fort and the Jama Masjid Mosque, and it's where most visitors begin their tours of the city.</p>
        </div>

        <h2>Most Booked Hotels in New Delhi</h2>
        <div class="hotelsr">

            <div class="info-box">
    
              <p>The Oberoi Gurgaon</p>
              <div class="rating">
                  ★★★★★ Excellent (8.9, Excellent reviews)
              </div>
              <div class="price">
                  ₹ 5,805+
              </div>
              <button id="bu1">View</button>
    
            </div>
              <div class="info-box">
    
                <p>Taj City Centre Gurugram</p>
                <div class="rating">
                    ★★★★ Excellent (8.5, Excellent reviews)
                </div>
                <div class="price">
                    ₹ 4,906+
                </div>
                <button id="bu1">View</button>
    
              </div>
    
                <div class="info-box">
    
                  <p>Taj Palace, New Delhi</p>
                  <div class="rating">
                      ★★★★ Excellent (8.1, Excellent reviews)
                  </div>
                  <div class="price">
                      ₹ 3,805+
                  </div>
                  <button id="bu1">View</button>
          
            </div>
    
          </div>
          <div class="hotelsr">
    
            <div class="info-box">
    
              <p>The Leela Ambience Gurugram Hotel & Residences</p>
              <div class="rating">
                  ★★★★★ Excellent (8.4, Excellent reviews)
              </div>
              <div class="price">
                  ₹ 4,805+
              </div>
              <button id="bu1">View</button>
    
            </div>
              <div class="info-box">
    
                <p>Radisson Blu Plaza Delhi</p>
                <div class="rating">
                    ★★★★ Excellent (8.1, Excellent reviews)
                </div>
                <div class="price">
                    ₹ 5,805+
                </div>
                <button id="bu1">View</button>
    
              </div>
    
                <div class="info-box">
    
                  <p>ITC Maurya, a Luxury Collection Hotel, New Delhi</p>
                  <div class="rating">
                      ★★★★ Excellent (8.5, Excellent reviews)
                  </div>
                  <div class="price">
                      ₹ 4,005+
                  </div>
                  <button id="bu1">View</button>
          
            </div>
    
          </div>

    </section>

<!--Getting Around-->

    <section id="gta" class="get-around">

<h1>How To Get Around New Delhi</h1>
    
<h4>Public Transportation</h4>
<p>Delhi's subway (Metro) is easily the best way to get around the inner part of the city, and its six lines provide excellent coverage that is improving all the time. Fares rise depending on how far you travel from a minimum of ₹8 and it's a good idea to purchase a rechargeable Smart Card during your stay. Day tickets for the whole network cost ₹100, so taking single journeys may work out as the cheapest option.</p>

<h4>Taxi</h4>
<p>Delhi's taxi scene has fully embraced smartphones, and alongside Uber you'll find Indian companies like Meru and Ola doing the same thing. This means that fares are fairly low. Even in standard green and yellow taxis, expect to pay ₹15 for the meter drop, then around ₹12 per mile. Air-conditioned taxis tend to be more expensive, but are almost always worth it.</p>

<h4>Car</h4>
<p>Although the inner city traffic in Delhi can be terrible, having your own car really makes sense if you plan to venture further afield or stay in Gurgaon. You can rent from companies like Avis, Carzonrent, and Zoomcar, and daily rates start at around ₹350.</p>

<br>
<a href="https://www.uber.com/in/en/r/cities/taxi/new-delhi-new-delhi-in/">
<button class="myButton">Find car hire in New Delhi</button>
</a>

</section>

    <section id="lc" class="local-costs">


        <div class="cont1">

            <div class="price-list">
        <h1>The Cost of Living in New Delhi</h1>

        <h4>Shopping Streets</h4>
        
<p>Delhi is a shopper's paradise, whether you are into ultra-modern fashion boutiques or atmospheric bazaars. To start with, take a walk in the Old Delhi Bazaar, where its narrow lanes contain myriad clothes, spice and jewelry stalls (and smell delicious thanks to the street food vendors). Then head to DLF Emporio for a totally different experience. Here, luxury is everything, and brands like Paul Smith and Hugo Boss compete with Indian designers like Manish Arora. Connaught Place is another great shopping area - like a mixture of the two, with old-style stores and modern businesses alongside each other.</p>        
        
<h4>Groceries and Other</h4>

<p>If you are self-catering or want to buy picnic ingredients during your stay, supermarkets like Big Bazaar and INA Market stock a range of western and Indian goods. Prices are very reasonable, at around ₹170 for a gallon of milk and ₹62 for 12 eggs.</p>
</div>
       
       
        <!--Icons-->

        <div class="price-list" id="prcl">
            <div class="item">
              <span class="icon">🍔</span>
              <span class="name">Cheap meal:</span>
              <span class="price">₹245</span>
            </div>
            <hr>
            <div class="item">
              <span class="icon">👖</span>
              <span class="name">A pair of jeans:</span>
              <span class="price">₹3059</span>
            </div>
            <hr>
            <div class="item">
              <span class="icon">🚎</span>
              <span class="name">Single public transport ticket:</span>
              <span class="price">₹28</span>
            </div>
            <hr>
            <div class="item">
              <span class="icon">☕</span>
              <span class="name">Cappuccino:</span>
              <span class="price">₹129</span>
            </div>
          </div>



        </div>
    </section>


<h1>Other popular cities Near Delhi</h1>


    <div class="city-list">
        <div class="column1">
            <p>Gurgaon</p>
            
        </div>
        <div class="column1">
            <p>Old Delhi</p>
            
        </div>
        <div class="column1">
            <p>Agra</p>
            
        </div>



</div>







    </div>



<!-- footer codes -->


<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col">
          <h4>company</h4>
          <ul>
            <li>
              <a href="./aboutus.html"> about us</a>
            </li>
            <li>
              <a href="./services.html"> our services</a>
            </li>
            <li>
              <a href="./business.html"> work with us</a>
            </li>
            <li>
              <a href="#"> press key</a>
            </li>
          </ul>

        </div>

        <div class="footer-col">
          <h4>get help</h4>
          <ul>
            <li>
              <a href="FAQ.html">FAQ</a>
            </li>
            <li>
              <a href="#">booking status</a>
            </li>
            <li>
              <a href="#">returns</a>
            </li>
            <li>
              <a href="#">payment options</a>
            </li>
          </ul>

        </div>

        <div class="footer-col">
          <h4>learn more</h4>
          <ul>
            <li>
              <a href="./learnmore.html">privacy</a>
            </li>
            <li>
              <a href="./learnmore.html">security</a>
            </li>
            <li>
              <a href="./learnmore.html">terms</a>
            </li>
          </ul>

        </div>

        <div class="footer-col">
          <h4>follow us</h4>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>



      </div>

    </div>
  </footer>




















</body>
</html>
