<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Forget Password</title>
    <link rel="stylesheet" href="css/fonts.css" />
    <link href="css/login.css" rel="stylesheet" />
  

    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
  </head>

<body>
  <div class="container-login">
    <img src="images/logo.svg" alt="EZ Stay logo">
    <div class="login-form">
      <h3 style="font-weight: 600; font-size: 25px;">Reset your Password</h3>
      <br>
     
      <form action="/forget-password" method="post">
        <label for="password">Password</label><br>
        <input type="password" name="password" id="password" placeholder="Enter new password" required>
        <input type="hidden" name="_id" id="_id" value="<%= user_id%>">
       
        <button type="submit" class="btn-login">Reset Password</button>
       
    
      </form>
        </div>
        
  </div>
  <img src="images/loginPageBackground.svg" alt="" id="background-login">

   
  </body>
</html>
