<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mumbai explore</title>
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/tripguide.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

</head>


<body>
    <nav class="nav0">
        <!-- Left side of navigation bar -->
        <div class="nav0-leftside">
          
        <img class="logo" src="images/logo.svg" alt="img" />
    
    
    </div>
    
        <!-- Right side of navigation bar -->
        
      </nav>

   <header id="tripM">
    
     <div id="aa1" style="background-color: grey;">
        <h1>Mumabai travel guide</h1>
        <p>Mumbai Tourism | Mumbai Guide</p>
            
        </div>
    
</header>
    <nav>
        <a href="#Introduction">Introduction</a>
        <a href="#wvc">Why To Visit</a>
        <a href="#wtd">What To Do</a>
        <a href="#wte">Where to Eat</a>
        <a href="#whentv">When to Visit</a>
        <a href="#htgt">How to Get There</a>
        <a href="#whts">Where to Stay</a>
        <a href="#gta">Getting Around</a>
        <a href="#lc">Local Costs</a>

    </nav>

    <div id="fu1" class="sbody">

    <!-- INTRODUCTION-->
    <section id="Introduction" class="Introduction-Ch">
        <h1>This is Mumbai for you</h1>
<p>Ancient history and the modern world collide in Mumbai, a city that is big, noisy, and full of life. It's a glamorous city, home of the Bollywood film industry and the fashion capital of India. The city's population is estimated at more than 18 million people, and if you include the metropolitan area, more than 20 million.</p>
</p>    
    <div id="im0">
        <img src="images/mumhead.jpg" alt="chennai">
    </div>
<p>Mumbai has a storied history that has seen a succession of Indian empires, then Portuguese rule, and subsequently British colonization before independence in the 20th century.

    From the many well-preserved relics of the British Raj, including the famous Gateway of India stone arch that was built in 1924, to the bright lights of Bollywood, Mumbai is an adventure waiting for you to discover.</p>

        
    </section>
<!-- WHY TO VISIT Delhi-->
    <section id="wvc" class="visit-chennai">
        <h1>Top 5 reasons to visit Mumbai</h1>
        <ol>
            <li>
              <h3>History</h3>

<p>There are many ways you can check out the city's vast history. Elephanta Island, a Hindu temple, is made up of a series of caves with beautifully carved walls, and is a UNESCO World Heritage Site that dates back to about 450 AD.</p>
            </li>
            
            <li>
              <h3>Tropical Forests and Outdoor Escapes</h3>

<p>You can experience the tropical forest in Sanjay Gandhi National Park, which takes up about 65 square miles in the northern part of the city. It is home to hundreds of species of birds, animals, including crocodiles and monkeys, in a lush forest environment. You can also escape to the outdoors for a walk along Girgaum Chowpatty beach, a popular pastime with locals.</p>
            </li>
            
            <li>
              <h3>Spectacular Architecture</h3>

<p>You'll find Gothic Revival in buildings like the Chhatrapati Shivaji Terminus (formerly Victoria Terminus) built during the colonial era, and the second largest number of Art Deco buildings after Miami, with unique features like domes and minarets taken from Hindu and Islamic culture. There are sleek modern skyscrapers like the Bombay Stock Exchange and elements of many European styles, along with Indo-Saracenic architecture, an elaborately ornate style that uses elements of Gothic Revival, local Indian, and Islamic influences.</p>
            </li>
            
            <li>
              <h3>Shopping!</h3>
<p>From Chor Bazaar - or "Thieves Market" - one of the biggest flea markets in India, to the designer boutiques of Kala Goda, Mumbai is full of fantastic shopping opportunities. You'll find international designers and locally produced clothing and jewelry, along with unique finds like the antique markets of Mutton Street where Bollywood set designers look for period pieces for their films. Remember to bargain for the best price.</p>
            </li>
            
            <li>
              <h3> The Food</h3>
<p>This is a city that loves to eat and where you'll find everything from the traditional regional cuisines of India to European-style fare and modern innovations like Indian tacos (in a flatbread), Indo-European fusion, and much more.</p>
            </li>
          </ol>
       
    </section>
<!--WHAT TO DO-->
    <section id="wtd" class="what-do">
        <h1>What to do in Mumbai</h1>

<ol>
  <li>
    <h3> Gateway of India: Your Journey Starts Here</h3>
<p>An icon of the British rule in India, this 20th-century monument is considered the "Gateway to India". It exudes British royalty, and is a great place to start your tour of the city. Views of the epic Taj Mahal Palace Hotel are unmissable, and ferries abound for trips further afield. The most popular day trip takes you to Elephanta Island, where you can explore caves hidden in the landscape, and temples with some of the most impressive carvings in the country.</p>
    <div class="im2">
    <img src="images/gatewayMum.jpg" alt="beach" >  
</div>
</li>
  
  <li>
    <h3>  Chhatrapati Shivaji Terminus: Cultural Crossroads</h3>
<p>Still active as the central train terminal in Mumbai, this historic railway station has been a gothic masterpiece since its construction in the late 19th century. Over three million commuters travel through the impressive space on a daily basis, and tourists join the throngs to take in the architecture as well. Design elements from other local monuments are found mixed together on this building, a notable combination of eastern and western influence that repeats itself throughout the country.</p>
    <div class="im2">
        <img src="images/terminus.jpg" alt="temple" >  
    </div>  
</li>
  
  <li>
    <h3>  Chhatrapati Shivaji Maharaj Vastu Sangrahalaya: "CSMVS"</h3>
<p>Yet another glorious building in Mumbai houses the city's most renowned museum. The halls are filled with a mixture of different exhibitions that cover the diverse history of the country through precious artifacts. Near this epic museum are also the Wellington Fountain and the Knesset Eliyahoo Synagogue - two gorgeous sites highlighting the combination of cultures present in this cosmopolitan city. The nearby National Gallery of Modern Art completes the city's world-class art collection.</p>
    <div class="im2">
        <img src="images/csmvs.jpg" alt="church" >  
    </div>  
</li>
  
  <li>
    <h3> Mumbai High Court: Authority and Judgement</h3>

<p>In the style of Mumbai's greatest architectural landmarks, the Bombay High Court is yet another grandiose gothic highlight of the city. The imposing building welcomes visitors into its equally assertive interior, where you are welcome to explore to your heart's content. Tourists are even allowed to attend cases, offering unique insight into India's judiciary system. Near the Court lies another great sight in the Rajabai Clock Tower, a historic relic modeled after London's Big Ben.</p>
    <div class="im2">
        <img src="images/mumbaiHC.jpg" alt="saint" >  
    </div> 
</li>
  
  <li>
    <h3> Haji Ali Dargah: Pilgrimage on the Water</h3>

<p>Off Mumbai's coast, this shrine floats mystically on a tiny island connected to the mainland only by a small causeway. Visitors can only visit a mosque and mausoleum when the tide is low, exposing the pathway. This makes reaching the gorgeous site all the more worth it, and on the island gorgeous and time-worn religious architecture awaits. Turn around for city views across the water, and appreciate the contrast between today and yesterday.</p>
    <div class="im2">
        <img src="images/had.jpg" alt="" >  
    </div>  
</li>




</ol>
    </section>

    <section id="wte" class="where-eat">
        <h1>Where to Eat in Mumbai</h1>
<p>For high-end dining, you can book a reservation at Indigo, housed in a former colonial building and offering a menu of Indo-European fusion that you can enjoy on the rooftop patio. Main dishes start at ₹780. If you want to experience authentic south Indian cuisine, look to Dakshinayan, featuring a menu of soups, homemade chutney, and traditional dishes starting at ₹90. The Yoga House Cafe is housed in a charming location by the water, with a healthy menu of salads, soups, and breads, with meals starting at ₹140.</p>

    </section>
    <section id="whentv" class="when-visit">
        <div class="container">
            <h1 class="main-heading">When to visit Mumbai</h1>
            <h2 class="subheading">Mumbai in July</h2>
            <p class="estimated-price">₹9704</p>
            <p class="additional-info">1 night at 3-star hotel</p>
          </div>
       <div id="img3"> <img src="images/mumData1.png" alt="data1">
       </div>
       <p>With a tropical climate, Mumbai is a true year-round destination. The most popular times to visit are during the drier period of the year between November and May, with cooler temperatures between December and February. June to September is monsoon season, with peak rainfall averaging over 500 inches in July. </p>
       <div id="img3"> <img src="images/mumData2.png" alt="data2">
    </section>



    <section id="htgt" class="get-there">

       <h1>How to get to Mumbai</h1>
       <h4>Plane</h4>
<p>International flights operate out of Chhatrapati Shivaji International Airport (BOM), which is sometimes called by its former name, Sahar International Airport. The airport is about 7.5 miles from the city center, and a taxi ride is the only direct way to get there. It should cost you about ₹120, and fares are prepaid.</p>
<h4>Train</h4>

<p>Mumbai is a hub for the Central Railway at the Chhatrapati Shivaji Terminus, and the Western Railway at Churchgate. Long distance trains may go through a number of stations, with connections to other Indian centers via Indian Railways.</p>

<h4>Car</h4>
<p>National Highway 3, National Highway 4, National Highway 8, National Highway 17, and National Highway 222 all connect with Mumbai. Be aware that you may have to pay a toll to enter the city.</p>
<h4>Bus</h4>

<p>Intercity buses run by Maharashtra State Road Transport Corporation connect Mumbai with other cities within Maharashtra, as well as neighboring states.</p>
</section>









    <section id="whts" class="where-stay">

        <h1>Where to Stay in Mumbai</h1>
        <div class="location">
          <h4>Colaba</h4>
<p> this is where you'll find many of the city's iconic landmarks like the Gateway of India and Taj Mahal Hotel. Along Colaba Causeway is where you'll find reasonably priced hotels and shopping.</p>          
<h3>Popular Neighborhoods in Mumbai </h3>

          <h4>Marine Drive</h4>

          <p>from Nariman Point to Malabar Hill, strolling the promenade along the beach in the evening is a favorite pastime for locals and tourists alike. At night, the lights along the curve of the bay give the area the name Queen's Necklace. It's also where you'll find Mumbai's cache of Art Deco buildings.</p>
          <h4>Bandra</h4>
<p>one of the many suburbs of the northern part of Mumbai, this is where you can bump into the Bollywood stars who churn out more than 1,000 movies per year. There are also many trendy restaurants, cafes, bars, and night clubs to explore.</p>

        </div>

        <h2>Most Booked Hotels in Mumbai</h2>
        <div class="hotelsr">

            <div class="info-box">
    
              <p>Taj Mahal Tower, Mumbai</p>
              <div class="rating">
                  ★★★★★ Excellent (9.5, Excellent reviews)
              </div>
              <div class="price">
                  ₹ 15,805+
              </div>
              <button id="bu1">View</button>
    
            </div>
              <div class="info-box">
    
                <p>The Taj Mahal Palace, Mumbai</p>
                <div class="rating">
                    ★★★★ Excellent (9.1, Excellent reviews)
                </div>
                <div class="price">
                    ₹ 18,906+
                </div>
                <button id="bu1">View</button>
    
              </div>
    
                <div class="info-box">
    
                  <p>Trident Nariman Point</p>
                  <div class="rating">
                      ★★★★ Excellent (8.7, Excellent reviews)
                  </div>
                  <div class="price">
                      ₹ 10,805+
                  </div>
                  <button id="bu1">View</button>
          
            </div>
    
          </div>
          <div class="hotelsr">
    
            <div class="info-box">
    
              <p>Fortune Park Lake City Thane - Itc Hotel Group</p>
              <div class="rating">
                  ★★★★★ Excellent (8.6, Excellent reviews)
              </div>
              <div class="price">
                  ₹ 8,105+
              </div>
              <button id="bu1">View</button>
    
            </div>
              <div class="info-box">
    
                <p>The Orchid Hotel Mumbai Vile Parlei</p>
                <div class="rating">
                    ★★★★ Excellent (8.5, Excellent reviews)
                </div>
                <div class="price">
                    ₹ 7,405+
                </div>
                <button id="bu1">View</button>
    
              </div>
    
                <div class="info-box">
    
                  <p>Sahara Star</p>
                  <div class="rating">
                      ★★★★ Excellent (7.8, Good reviews)
                  </div>
                  <div class="price">
                      ₹ 9,005+
                  </div>
                  <button id="bu1">View</button>
          
            </div>
    
          </div>

    </section>

<!--Getting Around-->

    <section id="gta" class="get-around">

<h1>How To Get Around Mumbai</h1>
    
<h4>Public Transportation</h4>
<p>The Mumbai Suburban Railway is the primary form of public transportation, although it is probably best to avoid it during rush hour, when trains may be operating at up to 300 times capacity. The sleek, modern Mumbai Monorail is a good alternative, along with the Mumbai Metro subway. Public buses in Mumbai are run by B.E.S.T (Brihanmumbai Electric Supply and Transport Undertaking) and cover most of the city with over 390 routes, including accessible and air-conditioned services. You'll recognize B.E.S.T. buses by their bright red color, and fares are very reasonable at 1.25 miles for ₹8, and just over six miles for ₹18</p>
<h4>Taxi</h4>
<p>There are over 56,000 taxis in Mumbai, making it one of the preferred ways to get around the city. Rates start at ₹32.19 for one mile.</p>

<h4>Car</h4>
Even though nearly 90 percent of Mumbai's citizens use public transportation, the traffic congestion is horrendous. If you prefer to travel by car just the same, it's recommended that you hire both a car and a driver to navigate the chaotic Mumbai traffic. Self-drive car rentals are available by the hour at ₹70, while a car with a driver will cost about ₹3,900 per day.

<br>
<a href="https://www.uber.com/in/en/r/cities/taxi/new-delhi-new-delhi-in/">
<button class="myButton">Find car hire in New Delhi</button>
</a>

</section>

    <section id="lc" class="local-costs">


        <div class="cont1">

            <div class="price-list">
        <h1>The Cost of Living in New Delhi</h1>

        <h4>Shopping Streets</h4>
        
<p>There are many places to find great shopping opportunities in Mumbai, such as the boutiques of Colaba and Kala Ghoda, where you'll find international designers like Balenciaga, along with Indian brands like Janavi and NorBlack NorWhite at exclusive shops like Le Mill. If jewelry is what you're after look to Gem Palace at the Dhanraj Mahal complex. For bargain shopping, try Colaba Causeway, lined with many shops filled with locally made clothing and jewelry.</p>        
<h4>Groceries and Other</h4>

<p>There are many grocery store chains in Mumbai, including Nature's Basket along with Hypercity, Reliance, D-Mart, and Big Bazaar, with well-stocked shelves and most include a prepared food section where you can sample many different dishes. A gallon of milk should cost about ₹187 and a dozen eggs will set you back about ₹60.

</p>
</div>
       
       
        <!--Icons-->

        <div class="price-list" id="prcl">
            <div class="item">
              <span class="icon">🍔</span>
              <span class="name">Cheap meal:</span>
              <span class="price">₹247</span>
            </div>
            <hr>
            <div class="item">
              <span class="icon">👖</span>
              <span class="name">A pair of jeans:</span>
              <span class="price">₹2959</span>
            </div>
            <hr>
            <div class="item">
              <span class="icon">🚎</span>
              <span class="name">Single public transport ticket:</span>
              <span class="price">₹18</span>
            </div>
            <hr>
            <div class="item">
              <span class="icon">☕</span>
              <span class="name">Cappuccino:</span>
              <span class="price">₹134</span>
            </div>
          </div>



        </div>
    </section>


<h1>Other popular cities in Maharastra</h1>


    <div class="city-list">
        <div class="column1">
            <p>Alibag</p>
            <p>Kolhapur</p>
            <p>Matheran</p>
            <p>Pachgani</p>
            
        </div>
        <div class="column1">
            <p>Amravati</p>
            <p>Lonavala</p>
            <p>Nagpur</p>
            <p>Pune</p>
            
        </div>
        <div class="column1">
            <p>Aurangabad</p>
            <p>Mahabaleswar</p>
            <p>Nasik</p>
            <p>Shirdi</p>
            
        </div>
</div>



    </div>

<!-- footer codes -->


<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col">
          <h4>company</h4>
          <ul>
            <li>
              <a href="./aboutus.html"> about us</a>
            </li>
            <li>
              <a href="./services.html"> our services</a>
            </li>
            <li>
              <a href="./business.html"> work with us</a>
            </li>
            <li>
              <a href="#"> press key</a>
            </li>
          </ul>

        </div>

        <div class="footer-col">
          <h4>get help</h4>
          <ul>
            <li>
              <a href="FAQ.html">FAQ</a>
            </li>
            <li>
              <a href="#">booking status</a>
            </li>
            <li>
              <a href="#">returns</a>
            </li>
            <li>
              <a href="#">payment options</a>
            </li>
          </ul>

        </div>

        <div class="footer-col">
          <h4>learn more</h4>
          <ul>
            <li>
              <a href="./learnmore.html">privacy</a>
            </li>
            <li>
              <a href="./learnmore.html">security</a>
            </li>
            <li>
              <a href="./learnmore.html">terms</a>
            </li>
          </ul>

        </div>

        <div class="footer-col">
          <h4>follow us</h4>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>



      </div>

    </div>
  </footer>




</body>
</html>
