<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign up</title>
    <link rel="stylesheet" href="css/fonts.css">
    <link href="css/login.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="container-login">
        <div class="login-form" style="height: max-content; margin-top: 0;">

            <h3 style="font-weight: 600; font-size: 25px;">Create your business account</h3>
            <br>

            <form method="post" action="/business/signup">
                <label for="hotelname">Hotel Name</label><br>
                <input type="text" name="hotelname" id="hotelname" placeholder="Hotel Name" required><br>

                <label for="username">User Name</label><br>
                <input type="text" name="username" id="username" placeholder="Username" required><br>

                <label for="email">Email</label><br>
                <input type="email" name="email" id="email" placeholder="Email" required><br>

                <label for="contactNo">Contact Number</label><br>
                <input type="text" name="contactNo" id="contactNo" placeholder="Contact Number" required><br>

                <label for="location">Location</label><br>
                <input type="text" name="location" id="location" placeholder="Location" required><br>

                <label for="password">Password</label><br>
                <input type="password" name="password" id="password" placeholder="Password" required><br>

                <button type="submit" class="btn-sign">Sign up</button>
            </form>


        </div>
    </div>
    <img src="images/loginPageBackground.svg" alt="" id="background-login">
    <!-- <script>
        const loginBtn = document.querySelector('.btn-sign');

        loginBtn.addEventListener('click', function () {
            window.location.href = 'dashboard.html';
        });
    </script> -->
</body>

</html>