* {
  font-family: "Poppins", sans-serif;
  margin: 0 ;
  padding: 0 ;
}

html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

a {
  color: #777777;
  text-decoration: none;
}
/* css for navigation bar */

nav {
  background-color: #FFFFFF;
  border: 1px solid #bcbcbc;
  border-right: 0;
  display: flex;

  padding: 10px 0;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  width: 100%;
  /* margin-top: -10%; */
}

/* logo image */
.logo {
  height: 35px;
  width: auto;
}

/* menu bars */
.menu-bar{
  border: none;
  padding: 50px;
}

/* navigation bar right side */
.nav-rightside {
  display: flex;
  margin-right: 40px;
  align-items: center;
}

/* heart image */
.nav-rightside i {
  font-size: 23px;
  /* color: red; */
}

/* sign in button */
.sign-in-btn {
  padding: 5px 10px;
  font-size: 20px;
  margin-left: 10px;
  background-color: #FDDB32;
  border: none;
  border-radius: 10px;
}


.username {
  padding: 5px 10px;
  font-size: 20px;
  margin-left: 10px;
  background-color: #FDDB32;
  border: none;
  border-radius: 10px;
}


/* navigation bar left side */
.nav-leftside {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 20px;

}
/* //******************************************************* */
.card-container{
  margin: 100px auto;
}

.card {
  border: 1px solid rgb(142, 142, 142);
  width: 50%;
  height: 230px;
  margin: 20px auto;
  border-radius: 8px;
  display: flex;
  gap: 15px;
}

.card-img-scroll {
  display: flex;
  max-width: 35%;
  height: 90%; 
  margin: 10px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 8px;
  
}

.card-img {
  width: 100%; 
  border-radius: 8px;
  
}

.card-info {
  flex: 1; /* Take remaining space */
  padding: 20px;
}

.card-img-scroll-right {
  align-self: center;
}

.card-img-scroll-left {
  align-self: center;
}


/* ********************** */
.card-name{
  margin: 15px;

}

.card-name h3{
  font-size: 1.8vw;
}

.card-name p{
  
}

.card-address{
  font-size: 1.3vw;
  margin-top:  0.5vw; 
}
.card-price{
  font-size: 1.2vw;
  margin-top: 1vw; 
}
.card-rating{
  font-size: 1.1vw;
 margin-top: 0.5vw; 
}
.card-comment{
  font-size: 1.1vw;
  margin-top: 0.8vw; 
  background-color: #FDDB32;
  color: black;
  padding: 5px;
  border-radius: 5px;
  width:65px ;
}